#!/bin/bash
#
# Copyright (C) 2020-2022 by UsergeTeam@Github, < https://github.com/UsergeTeam >.
#
# This file is part of < https://github.com/UsergeTeam/Userge > project,
# and is released under the "GNU v3.0 License Agreement".
# Please see < https://github.com/UsergeTeam/Userge/blob/master/LICENSE >
#
# All rights reserved.


# ----------- REQUIRED ----------- #


# Get them from https://my.telegram.org/
API_ID="9289096"
API_HASH="f55272141e75992739a7ecb10ae87fa6"


# Mongodb url from https://cloud.mongodb.com/
# comment below line if you are going to use docker !
DATABASE_URL="mongodb+srv://rzyanrr:<password>@cluster0.e7gswhu.mongodb.net/?retryWrites=true&w=majority"


# Telegram Log Channel ID
LOG_CHANNEL_ID="-1001654701142"


# one of USERGE MODE
# you can use userge as [ USER or BOT or DUAL ] MODE
# see below for more info


# ----------- OPTIONAL ----------- #


# assert running single Userge instance to prevent from AUTH_KEY_DUPLICATED error.
ASSERT_SINGLE_INSTANCE=false


# Custom pip packages which are seperated by spaces to install while starting the bot.
CUSTOM_PIP_PACKAGES=""


# Userbot Workers Count : Default = cpu_count + 4
WORKERS=""


# Set name to your working directory
DOWN_PATH="downloads/"


# set command prefix
CMD_TRIGGER="."


# set command prefix for SUDO users
SUDO_TRIGGER="!"


# ----------- Only If Using Heroku ----------- #


# get a Heroku API key from http://dashboard.heroku.com/account
HEROKU_API_KEY="ba338fa5-63db-46cc-a3b9-73987e5402cf"


# given app name to the heroku app
HEROKU_APP_NAME="uyyyseddap"


# ----------- USERGE MODES ----------- #


# >>> USER MODE <<< #
# use userge as user
# get this using [ '@genStr_Bot' or `bash genStr` ]
SESSION_STRING="BQBQ36Z9Ro-rNYQPq4_kjuvpcjdThnf2SnYjXX9V3R_YgfWE66IP_SPdJWxuJN9Cplmh0jkdlJ6ikZS7iqJkpcmcdEhKc76y51NbkYrI61tyFSy1vbjiqSlWaRMcFKEoAALeWz_vRXye6rpbdRRceBpEJ0abOnqXp7tG7p0vulgeCJg3CPs8QOTeJIrtpFn-_KVmDamKUQHW2sqOq3HSepaqgKJxGUtAK97YC0szRrPCD9RHcFrZsK5kuFNaLzIUvhtegyTIeEsnGJysbxq63e-FXZGfLxlKuZvMWpG3bBruTeiYr33FayjnxDWNr-4RS5JgTHQiFMmOfjjyAvmlCHmCLjRgrQA"


# >>> BOT MODE <<< #
# use userge as bot
# get this from https://t.me/botfather if you like to use userge as a bot
# And your user id 
BOT_TOKEN="5378440805:AAG8PW9vMmx8ecAkvoj9K3J8osdgfk-fsu8"
OWNER_ID="775184557" 


# >>> DUAL MODE <<< #
# use userge as both user and bot
# fill all USER MODE and BOT MODE 
